.outer{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.inner{
    vertical-align: middle;
    display: table-cell;
}

.inner35{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.inner50{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 25px;
}

.validation{
    border: 1.5px solid #cc0000;
}

.validationMessage{
    color: #cc0000;
    vertical-align: middle;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    padding-left: 23px;
    padding-top: 5px;
    display: block;
}