.niceTitle{
    font-family: Lato,Arial !important;
    font-size: 24px;
}

.black-text{
    color: #0d0d0d;
}

.normal-text{
    text-transform: none;
}

.center-text{
    text-align: center;
}

.md-text{
    font-size: 20px;
}

.sm-text{
    font-size: 15px;
}

.validationMessage:before{
    content: "* ";
}